## Author 
Damodar Bhattarai

#### Data Science Tools and Ecosystem 
###### In this notebook, Data Science Tools and Ecosystem are summarized

**Objective:**
* Tools for data science.
* Libraries for the Data Science.
* Solving a arithmetic expression in Jupiter Notebook.
* Problem for changing minutes to hour.
* Dive into Git and GitHub.

##### List of popular language for Data Science
* Python
* R
* SQL
* Julia

#### Some of the commonly used libraries used by Data Scientists included
1. NumPy
2. Pandas
3. ggplot2
4. dplyr

|Data Science Tools|
|------------------|
|1. Jupyter Notebook|
|2. RStudio|
|3. Apache Zeppelin|

#### Below are a few examples of evaluating arithmetic expression in Python.

In [1]:
a = 3
b = 4
c = 5

results = (a * b) + c
print('The expression result is:', results)

The expression result is: 17

In [2]:
# This will convert 200 minutes to hours by dividing 60.
time_inmin = 200
one_hour_inmin = 60

hours = time_inmin / one_hour_inmin
print('200 Minutes in hours is:', hours)

200 Minutes in hours is: 3.3333333333333335